.home-page {
  min-height: calc(100vh - 130px);
  display: block;
}

.home-hero {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 130px);
}

.home-container {
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  gap: 1rem;
  max-width: 750px;
  margin: 0 auto;
  padding: 2rem 20px;
  align-items: center;
}

.home-left {
  padding-top: 0;
}

@media (max-width: 900px) {
  .home-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
