main {
  padding-top: 50px;
  padding-bottom: 80px;
  min-height: calc(100vh - 130px);
}

main.page-enter {
  animation: pageEnter 0.9s ease-out;
}

@keyframes pageEnter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
